<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <title>Hipper Therapeutics - Dashboard</title>
  <link rel="stylesheet" href="../static/css/admin_patients.css" />
  <link rel="stylesheet" href="../static/css/admin_navbar.css" />
</head>
<body>
    <div id="admin-navbar"></div>

  
  <script src="../static/js/admin_patients.js"></script>
  <script src="../static/js/admin_navbar.js"></script>
</body>
</html>