<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Settings</title>
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/admin_settings.css" />
  <link rel="stylesheet" href="../static/css/admin_navbar.css" />
</head>

<body>

  <!-- Content goes here -->
  <div id="admin-navbar"></div>

  <div class="parent-container">
    {% if message %}
    <div class="return-message">
      <p>{{ message }}</p>
    </div>
    {% endif %}
    <div class="container">
      <div class="card">
        <h3>Profile</h3>
        <label>Name:</label>
        <div id="display-name" class="display-box">Hans</div>

        <label>Email:</label>
        <div id="display-email" class="display-box">Hans@gmail.com</div>

      </div>
      <div class="card">
        <h3>Settings</h3>
        <div class="setting">
          <label>Light/Dark mode</label>
          <div class="toggle-bar" id="theme-toggle">
            <div class="half light {% if not preferences.dark_mode %}selected{% endif %}" data-value="0">Light</div>
            <div class="half dark {% if preferences.dark_mode %}selected{% endif %}" data-value="1">Dark</div>
          </div>
        </div>
        <div class="setting">
          <label>Font-Size</label>
          <div class="toggle-bar" id="font-toggle">
            <div class="half light {% if not preferences.large_font %}selected{% endif %}" data-value="0">Normal</div>
            <div class="half dark {% if preferences.large_font %}selected{% endif %}" data-value="1">Big</div>
          </div>
        </div>
        <div class="setting">
          <label>Change language</label>
          <div class="toggle-bar" id="language-toggle">
            <div class="half light {% if preferences.language == 'en' %}selected{% endif %}" data-value="en">EN</div>
            <div class="half dark {% if preferences.language == 'nl' %}selected{% endif %}" data-value="nl">NL</div>
          </div>
        </div>
      </div>
    </div>
    <button class="save-button" onclick="saveSettings()">Save Settings</button>
  </div>

  <script src="../static/js/admin_settings.js"></script>
  <script src="../static/js/admin_navbar.js"></script>
</body>

</html>