<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <title>Hipper Therapeutics - Dashboard</title>
  <link rel="stylesheet" href="../static/css/admin_patients.css" />
  <link rel="stylesheet" href="../static/css/admin_navbar.css" />
</head>
<body>
    <div id="admin-navbar"></div>

  <div class="container">
    <div class="patient-card">
      <h3>Patients</h3>
      <input type="text" id="search" placeholder="Search patients by name..." />
      <div id="patient-list" class="display-box">
        {% for patient in patients %}
          <div class="patient-card-item" data-name="{{ patient.name | lower }}">
            <div class="patient-card-box">
              <strong>{{ patient.name }}</strong><br>
              Email: {{ patient.email }}
            </div>
          </div>
        {% endfor %}
      </div> 
    </div>
    <div class="addPatient-card">
      <h3>Add Patient</h3>
      <form action="" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
    
        <button type="submit">Add Patient</button>
      </form>
    </div>
  </div>

  
  <script src="../static/js/admin_patients.js"></script>
  <script src="../static/js/admin_navbar.js"></script>
</body>
</html>