<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <title>Hipper Therapeutics - Dashboard</title>
  <link rel="stylesheet" href="../static/css/admin_patients.css" />
  <link rel="stylesheet" href="../static/css/admin_navbar.css" />
</head>

<body>

  <!-- Navbar will be dynamically injected via JavaScript -->
  <div id="admin-navbar"></div>

  <div class="container">
    <!-- Displays a list of patients for a therapist; supports name filtering via search bar. Data is rendered using Jinja2 -->
    <div class="patient-card">
      <h3>Patients</h3>
      <input type="text" id="search" placeholder="Search patients by name..." />
      <div id="patient-list" class="display-box">
        {% if patients %}
        {% for patient in patients %}
        <div class="patient-card-item" data-name="{{ patient.name | lower }}">
          <div class="patient-card-box">


            <!-- More details -->
            <a href="{{ url_for('admin_patient_details', patient_id=patient.id) }}"
              style="text-decoration: none; color: inherit;">
              <strong>{{ patient.name }}</strong><br>
              Email: {{ patient.email }}
            </a>
          </div>

        </div>
        {% endfor %}
        {% else %}
        <p>No patients found.</p>
        {% endif %}
      </div>
    </div>
    <!-- Form to add a new patient -->
    <div class="addPatient-card">
      <h3>Add Patient</h3>
      <form action="{{ url_for('admin_add_patient') }}" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <button type="submit" class="patient-button">Add Patient</button>
      </form>
    </div>

        <!-- Manual Password Change using Email -->
    <div class="addPatient-card">
      <h3>Manual Password Change</h3>
      <form action="{{ url_for('admin_change_patient_password') }}" method="POST">
        <label for="reset-email">Patient Email</label>
        <input type="email" id="reset-email" name="email" required />

        <label for="reset-password">New Password</label>
        <input type="password" id="reset-password" name="new_password" required />

        <button type="submit" class="patient-button">Confirm Password Change</button>
      </form>
    </div>

  </div>


  <script src="../static/js/admin_patients.js"></script>
  <script src="../static/js/admin_navbar.js"></script>
</body>

</html>