<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blank Page</title>
  <link rel="stylesheet" href="../static/css/home.css" />
</head>
<body>

  <!-- Content goes here -->
     <div class="container">
    <!-- Header -->
    <header class="header">
      <div class="logo">
        <h1>HIPPER THERAPEUTICS</h1>
      </div>
      <div class="user-controls">
        <button class="settings-btn">
          <img src="../static/images/settings-icon.svg" alt="Settings" />
        </button>
        <div class="user-profile">
          <span>Marianne Elsenbeek</span>
          <img class="avatar" src="../static/images/profile-avatar.jpg" alt="User profile" />
        </div>
      </div>
    </header>



  <script src="../static/js/home.js"></script>
</body>
</html>
