<!DOCTYPE html>
<html>
<head>
    <title>Check Break Routine</title>
</head>
<body>
    <h1>Check Break Routine</h1>

    <form method="post" onsubmit="sendRequest(event)">
        <label for="patient_id">Patient ID:</label>
        <input type="number" id="patient_id" name="patient_id" value="1">
        <button type="submit">Check</button>
    </form>

    <!-- Patient form -->
    <div id="patientInfo"></div>
    <div id="analysisPeriod"></div>
    <div id="usualRoutine"></div>
    <div id="disruptionsResult"></div>
    <div id="summary"></div>

    <script>
    async function sendRequest(event) {
        event.preventDefault();
        const patientId = document.getElementById("patient_id").value;

        const response = await fetch("/routine-form", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ patient_id: patientId })
        });

        const data = await response.json();
        
        // Displays patient information
        document.getElementById("patientInfo").innerHTML = `
            <h2>Patient Information</h2>
            <p>Name: ${data.patient_name || "unknown"}</p>
        `;

        document.getElementById("analysisPeriod").innerHTML = `
            <h3>Analyzed Period</h3>
            <p>Last 7 days</p>
        `;

        // Displays the usual routine if it exists  
        if (data.usual_slots && data.usual_slots.length > 0) {
            let routineHTML = "<h3>Usual Routine</h3><ul>";
            data.usual_slots.forEach(slot => {
                routineHTML += `<li>${slot.hour_slot}h: ${slot.total_steps} average steps</li>`;
            });
            routineHTML += "</ul>";
            document.getElementById("usualRoutine").innerHTML = routineHTML;
        } else {
            document.getElementById("usualRoutine").innerHTML = "<p>No routine data found.</p>";
        }


    </script>
</body>
</html>
