<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Settings</title>
  <link rel="stylesheet" href="../static/css/settings.css" />
  <link rel="stylesheet" href="../static/css/navbar.css" />
</head>
<body>

  <!-- Content goes here -->
   <div id="navbar"></div>

     <div class="container">
      <div class="card">
      <h3>Profile</h3>
      <label>Name:</label>
      <div id="display-name" class="display-box">Hans</div>

      <label>Email:</label>
      <div id="display-email" class="display-box">Hans@gmail.com</div>

      <label>Therapist:</label>
      <div id="display-therapist" class="display-box">Johan van Schaap</div>
    </div>
    <div class="card">
      <h3>Settings</h3>
      <div class="setting">
        <label>Light/Dark mode</label>
        <div class="toggle-bar" id="theme-toggle">
          <div class="half light selected" data-value="light">Light</div>
          <div class="half dark" data-value="dark">Dark</div>
        </div>
      </div>
      <div class="setting">
        <label>Font-Size</label>
        <div class="toggle-bar" id="font-toggle">
          <div class="half light selected" data-value="normal">Normal</div>
          <div class="half dark" data-value="big">Big</div>
        </div>
      </div>
      <div class="setting">
        <label>Change language</label>
        <div class="toggle-bar" id="language-toggle">
          <div class="half light selected" data-value="en">EN</div>
          <div class="half dark" data-value="nl">NL</div>
        </div>
      </div>
    </div>
  </div>

  <script src="../static/js/settings.js"></script>
  <script src="../static/js/navbar.js"></script>
</body>
</html>
