.container {
  display: flex;
  gap: 80px;
  justify-content: center;
  margin: auto;
  padding: 225px;
}

.card {
  border: 2px solid #74a6d4;
  border-radius: 6px;
  padding: 20px;
  width: 250px;
}

.card h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 25px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;   
  font-family: 'Julius Sans One', sans-serif;
}

.display-box {
  border: 1px solid #74a6d4;
  border-radius: 6px;
  padding: 8px;
  height: 30px;
  background-color: #fff;
  box-sizing: border-box;
}

.setting {
  margin-bottom: 20px;
}

.toggle-bar {
  display: flex;
  height: 24px;
  border: 1px solid #74a6d4;
  border-radius: 4px;
  overflow: hidden;
  width: 180px;
}

.half {
  width: 50%;
  height: 100%;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  cursor: pointer;
}

.light {
  background: white;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

.dark {
  background: #87BAE8;
}
